## a) Limpieza y formateo de datos de la primera fuente

In [361]:
import pandas as pd

LaureatesLink="https://en.wikipedia.org/wiki/List_of_Nobel_laureates_in_Chemistry"
Laureates=pd.read_html(LaureatesLink,header=0,flavor='bs4')
type(Laureates)

list

In [362]:
len(Laureates)

8

In [395]:
Laureates=pd.read_html(LaureatesLink,header=0,flavor='bs4')
Laureates_DF=Laureates[0]
Laureates_DF

,Year,Image,Laureate[A],Country[B],Rationale[C],Ref
0,1901,NaN,Jacobus Henricus van 't Hoff (1852–1911),Netherlands,"""[for his] discovery of the laws of chemical d...",[18]
1,1902,NaN,Hermann Emil Fischer (1852–1919),Germany,"""[for] his work on sugar and purine syntheses""",[19]
2,1903,NaN,Svante August Arrhenius (1859–1927),Sweden,"""[for] his electrolytic theory of dissociation""",[20]
3,1904,NaN,Sir William Ramsay (1852–1916),United Kingdom,"""[for his] discovery of the inert gaseous elem...",[21]
4,1905,NaN,Adolf von Baeyer (1835–1917),Germany,"""[for] the advancement of organic chemistry an...",[22]
...,...,...,...,...,...,...
197,2022,NaN,Morten Meldal (b. 1954),Denmark,"""for the development of click chemistry and bi...",[126]
198,2022,NaN,K. Barry Sharpless (b. 1941),United States,"""for the development of click chemistry and bi...",[126]
199,2023,NaN,Moungi G. Bawendi (b. 1961),United States,"""for the discovery and synthesis of quantum dots""",[127]
200,2023,NaN,Louis E. Brus (b. 1943),United States,"""for the discovery and synthesis of quantum dots""",[127]
201,2023,NaN,Alexey Ekimov (b. 1945),United States,"""for the discovery and synthesis of quantum dots""",[127]

In [396]:
Laureates=pd.read_html(LaureatesLink,header=0,flavor='bs4')
Laureates_DF=Laureates[0]

#Eliminando las columnas "Image" y "Ref"
Laureates_DF.drop(columns=["Image","Ref"], inplace=True)

# Renombrando las columnas
Laureates_DF.rename(columns={"Laureate[A]":"Laureate","Country[B]":"Country","Rationale[C]":"Rationale"},inplace=True)

#Creando dos nuevas columnas (Birth_year y Death_year a partir de datos preexistentes de la columna Laureate)
Laureates_DF_2=Laureates_DF["Laureate"].str.split("(", expand=True) 
Laureates_DF["Laureate"]=Laureates_DF_2[0]
##Eliminando "b." y ")"
Laureates_DF_2[1]=Laureates_DF_2[1].str.replace(pat=r'(\Ab.)',repl='',regex=True)
Laureates_DF_2[1]=Laureates_DF_2[1].str.replace(pat=')',repl='')
Laureates_DF_2=Laureates_DF_2[1].str.split("–", expand=True)

#Columnas resultantes luego de limpiar
Laureates_DF_2

         0     1
0     1852  1911
1     1852  1919
2     1859  1927
3     1852  1916
4     1835  1917
..     ...   ...
197   1954  None
198   1941  None
199   1961  None
200   1943  None
201   1945  None

[202 rows x 2 columns]

In [397]:
#Reemplazando valores "None" en la segunda columna con "Alive"
Laureates_DF_2[1]=Laureates_DF_2[1].replace({None:'Alive'})

In [404]:
#Dataframe resultante
Laureates_DF["Birth_year"]=Laureates_DF_2[0]
Laureates_DF["Death_year"]=Laureates_DF_2[1]
Laureates_DF

,Year,Laureate,Country,Rationale,Birth_year,Death_year
0,1901,Jacobus Henricus van 't Hoff,Netherlands,"""[for his] discovery of the laws of chemical d...",1852,1911
1,1902,Hermann Emil Fischer,Germany,"""[for] his work on sugar and purine syntheses""",1852,1919
2,1903,Svante August Arrhenius,Sweden,"""[for] his electrolytic theory of dissociation""",1859,1927
3,1904,Sir William Ramsay,United Kingdom,"""[for his] discovery of the inert gaseous elem...",1852,1916
4,1905,Adolf von Baeyer,Germany,"""[for] the advancement of organic chemistry an...",1835,1917
...,...,...,...,...,...,...
197,2022,Morten Meldal,Denmark,"""for the development of click chemistry and bi...",1954,Alive
198,2022,K. Barry Sharpless,United States,"""for the development of click chemistry and bi...",1941,Alive
199,2023,Moungi G. Bawendi,United States,"""for the discovery and synthesis of quantum dots""",1961,Alive
200,2023,Louis E. Brus,United States,"""for the discovery and synthesis of quantum dots""",1943,Alive
201,2023,Alexey Ekimov,United States,"""for the discovery and synthesis of quantum dots""",1945,Alive

In [405]:
#Conviertiendo los datos de las columnas Birth_year y Death_year en números enteros
#Laureates_DF.Birth_year=pd.to_numeric(Laureates_DF.Birth_year,errors='ignore')
#Laureates_DF.Death_year=pd.to_numeric(Laureates_DF.Death_year,errors='ignore')

#Laureates_DF[Laureates_DF.columns[4:6]]=Laureates_DF.iloc[:,4:6].apply(lambda x: x.astype('Int64',errors="ignore"))
#Laureates_DF.info()

In [407]:
Laureates_DF

,Year,Laureate,Country,Rationale,Birth_year,Death_year
0,1901,Jacobus Henricus van 't Hoff,Netherlands,"""[for his] discovery of the laws of chemical d...",1852,1911
1,1902,Hermann Emil Fischer,Germany,"""[for] his work on sugar and purine syntheses""",1852,1919
2,1903,Svante August Arrhenius,Sweden,"""[for] his electrolytic theory of dissociation""",1859,1927
3,1904,Sir William Ramsay,United Kingdom,"""[for his] discovery of the inert gaseous elem...",1852,1916
4,1905,Adolf von Baeyer,Germany,"""[for] the advancement of organic chemistry an...",1835,1917
...,...,...,...,...,...,...
197,2022,Morten Meldal,Denmark,"""for the development of click chemistry and bi...",1954,Alive
198,2022,K. Barry Sharpless,United States,"""for the development of click chemistry and bi...",1941,Alive
199,2023,Moungi G. Bawendi,United States,"""for the discovery and synthesis of quantum dots""",1961,Alive
200,2023,Louis E. Brus,United States,"""for the discovery and synthesis of quantum dots""",1943,Alive
201,2023,Alexey Ekimov,United States,"""for the discovery and synthesis of quantum dots""",1945,Alive

## b) Limpieza y formateo de datos de la segunda fuente